html {
	height: 100%;
	width:	100%;
	font-family: Helvetica;
}

header {

	background-color: #0C5BE8;
	padding: 2em;
	text-align: center;
	width: 100%;
	margin-left: -10px;

}




.menu a {
	list-style-type: none;
	margin: 50px;
	float: right;
	text-decoration: none;
	z-index: 1;
	font-weight: bold;
	font-size: 20px;
}

#photo {
	padding: 2em;
	float: left;
	margin: 20px;
}	

footer {
	position: fixed;
	top: 90%;
	background-color: #0C5BE8;
	padding: 2em;
	clear: both;
	width: 100%;
	margin-left: -10px;
}

#social {
	position: fixed;	
	top: 85%;
	clear:both;
}

#social a {
	
	list-style-type: none;
	margin: 40px;
	float: left;
	text-decoration: none;
	z-index: 1;
	font-weight: bold;
	


}

.technical-blog {
	
	position: absolute;
	top: 40%;
	left: 15%;
	border: 4px solid #0C5BE8;
	padding: 50px;
	padding-right: 200px;
	border-radius: 5%;
	display: inline-block;
	margin; auto;
	
}

.technical-blog a {
	display: block;
	padding: 2px;
	border: 2px solid #0C5BE8;
}
.cultural-blog {

	position: absolute;
	top: 40%;
	left: 55%;
	border: 4px solid #0C5BE8;
	padding: 50px;
	padding-right: 200px;
	border-radius: 5%;
	display: inline-block;
}

.cultural-blog a {
	display: block;
	padding: 2px;
	border: 2px solid #0C5BE8;
}

.blog {
	width: 80%;
	margin: auto;

}
